.icon{
    color: #DFF6FF;
}

.icon:hover {
    color: #47B5FF;
}

.editorWrap{
    margin: 0 auto;
    max-width: 50vw;
}

.editor {
    width:99%;
    padding: 7px;
    height: 200px;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #DFF6FF;
    outline: none;
    border: 1px solid black;
}
.editor.fullScreen {
    height: 100vh;
}

.toolbar{
    align-items: center;
    justify-content: space-between;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #06283D;
    display: flex;
    border: 1px solid black;
    width: 99%;
    padding: 7px;
}

.label{
    color: #DFF6FF;
    margin: 0 5px;
}

.previewWrap {
    margin: 1.25rem auto;
    max-width: 65vw;
    min-height: 20em;
    height: auto;

}

.preview {
    width: 99%;
    padding: 7px;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #DFF6FF;
    outline: none;
    border: 1px solid black;
    text-align: start;
    overflow-x: auto;
}
