.editorWrap{
    margin: 0 auto;
    width: 80vw;
    max-width: 660px;
}
.icon{
    color: #DFF6FF;

}

.icon:hover {
    color: #47B5FF;
}

.editor {
    width: 650px;
    height: 200px;
    padding: 7px;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #DFF6FF;
    outline: none;
}

.toolbar{
    align-items: center;
    justify-content: space-between;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #06283D;
    display: flex;
    border: 1px solid black;
}

.editorWrap .toolbar {
    width: 650px;
    padding: 7px;
    
}

.label{
    color: #DFF6FF;
    margin: 0 5px;
}

.previewWrap {
    margin: 20px auto;
    max-width: 710px;
    border: 1px solid black;
    height: 20em;

}

.previewWrap .toolbar {
    width: 700px;
    padding: 7px;
}

.preview {
    width: 700px;
    height: 20em;
    padding: 7px;
    box-shadow: 5px 5px 10px 3px #06283D;
    background-color: #DFF6FF;
    outline: none;
}